.mosaic-details,
.tool-details {
    width: 100%;
    padding: 40px 60px;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
}

.mosaic-details h2,
.tool-details h2 {
    text-align: center;
    margin-bottom: 20px;
}

.mosaic-main-image,
.tool-main-image {
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.mosaic-info h2,
.tool-info h2 {
  margin-bottom: 15px;
}

.mosaic-info,
.tool-info {
    flex: 1;
}

.mosaic-info p,
.tool-info p {
    margin: 8px 0;
}

.add-to-cart-button {
    margin-top: 25px;
    background: #4f46e5;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.add-to-cart-button:hover {
    background: #3730a3;
}

.status-message {
    margin-top: 10px;
    color: green;
    font-weight: 500;
}

.mosaic-content,
.tool-content {
    display: flex;
    gap: 40px;
    align-items: center;
}